 
.users-list {
    padding: 80px 60px;
    position: relative;
    z-index: 9;

}
.image-col {
    text-align:center; 
}
 .image {
        border-radius: 50%;
        width: 100px;
        
}

.text-col {
      margin: auto 0px;
}
.actions-col {
      text-align: center;
      margin: auto 0px;
}  
.action {
        line-height: 1;
}
.icon {
        font-size: 20px;
 }
    
 .btn{
     margin: 3px;
 }
 
 .navbar {
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 0px 16px 0px;
 }
    
 footer{
     background-color: rgb(40, 180, 226);
     color: rgb(255, 255, 255);
 }
 a{
     text-decoration: none;
     color: white;
 }

 @media (max-width:600px){
     .top{
     position: absolute;
     top: 0;
     }
    footer{
        background-color: rgb(3, 21, 27);
        color: rgb(255, 255, 255);
    }

    .users-list {
    margin-top: 200px;
    padding: 10px 10px;
    position: relative;
    z-index: 9;}

    .image {
        border-radius: 50%;
        width: 90px;
        margin-bottom: 10px;
        
}
.row{
    display: inline-table;
    padding: 5px;
    margin: 0 auto;
}
.btn{
    display: block;
    margin-top: 10px;
    width: 100%;

}
h5{
    font-size: 15px;
}
h6{
    font-size: 11px;
}
}